<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>POWER OF LAMP IN INCANDESCENT BULB</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>POWER OF LAMP IN INCANDESCENT BULB</h1>
    <form method="POST">
        <div>
            INTENSITY: <input type="text" name="Intensity">(in A)<br>
        </div>
        <div>
            RESISTANCE: <input type="text" name="Resistence">(in Ω)<br>
        </div>
        <div>
            <input type="submit" value="Calculate"><br>
        </div>
        <div>
            POWER: <input type="text" name="Power">W<br>
        </div>
    </form>
</body>

</html>

